<div id="<%= dom_id pet_post %>">
  <p>
    <strong>Title:</strong>
    <%= pet_post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= pet_post.body %>
  </p>

  <p>
    <strong>Pets user:</strong>
    <%= pet_post.pets_user_id %>
  </p>

</div>
