<% unless pet_comment.parent || !pet_comment.persisted? %>
  <div class="card">
    <div class="card-body">
      <%= pet_comment.body %>
      <%= link_to 'reply', new_pet_post_pet_comment_path(@pet_post, parent_id: pet_comment.id), remote: true, format: "js", class: 'd-block' %>
    </div>
  </div>
  <div id="reply-form-<%= pet_comment.id %>">
    <% unless pet_comment.replies.nil? %>
      <% pet_comment.replies.each do |reply| %> 
        
        <%= render partial: 'pet_comments/reply', locals: { reply: reply } %>
        
      <% end %>
    <% end %>  
  <% end %>
</div>