<div id="<%= dom_id pet_comment %>">
  <p>
    <strong>Body:</strong>
    <%= pet_comment.body %>
  </p>

  <p>
    <strong>Pets user:</strong>
    <%= pet_comment.pets_user_id %>
  </p>

  <p>
    <strong>Pet post:</strong>
    <%= pet_comment.pet_post_id %>
  </p>

</div>
