<h1>Editing pet comment</h1>

<%= render "form", pet_comment: @pet_comment %>

<br>

<div>
  <%= link_to "Show this pet comment", @pet_comment %> |
  <%= link_to "Back to pet comments", pet_comments_path %>
</div>
